.container {
    background-color:#c2c2c2;
    min-height: 20vh;
}

.links {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.link, .icon {
    color: black;
}

.link:hover {
    color: rgba(255, 255, 255, 0.558);
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    text-align: center;
}

.bottom {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
}

